mcb
.vscode/*
__pycache__/
*.py[cod]
.vscode/settings.json
ehmatthes-pcc-f555082/
Python-Data-Science-and-Machine-Learning-Bootcamp/
ll_env/bin
ll_env/lib
ll_env/lib64
flask_env/bin
flask_env/lib
flask_env/lib64
